
/* Glow effects */

.glow {
  max-height: 70px;
  max-width: 314px;
  height: 100%;
  width: 100%;
  position: absolute;
  overflow: hidden;
  z-index: -1;
  border-radius: 12px;
  filter: blur(30px);
  opacity: 0.4;
  max-height: 130px;
  max-width: 354px;
}

.glow:before {
  content: "";
  z-index: -2;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(60deg);
  position: absolute;
  width: 999px;
  height: 999px;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-image: conic-gradient(
    hsl(var(--background)),
    hsl(var(--primary)) 5%,
    hsl(var(--background)) 38%,
    hsl(var(--background)) 50%,
    hsl(var(--secondary)) 60%,
    hsl(var(--background)) 87%
  );
  transition: all 2s;
}
