
/* Main input styling */

.input {
  background-color: hsl(var(--background));
  border: 1px solid hsl(var(--border));
  width: 301px;
  height: 56px;
  border-radius: 10px;
  color: hsl(var(--foreground));
  padding-left: 59px;
  padding-right: 20px;
  font-size: 18px;
  transition: all 0.3s ease;
}

.input::placeholder {
  color: hsl(var(--muted-foreground));
}

.input:focus {
  outline: none;
}

#poda {
  display: flex;
  align-items: center;
  justify-content: center;
}

#search-icon {
  position: absolute;
  left: 20px;
  top: 15px;
  z-index: 10;
}
